/* ************
    global variable
************ */
:root{
    --header-height: 3.5rem;
    /* colors */
    ---main-yellow:hsla(33, 88%, 56%, 1);
    --yellow-light:hsla(33, 91%, 96%, 1);
    --yellow-hover:hsla(33, 91%, 73%, 1);
    --blue-dark:hsla(189, 24%, 17%, 1);
    --blue-dark-lighter:hsla(187, 24%, 29%, 1);
    --blue-normal:hsl(187, 24%, 49%);
    --blue-light:hsl(186, 23%, 84%);
    --text-color:hsla(187, 100%, 8%, 1);
    --green:hsla(101, 54%, 55%, 1);
    --grey:hsla(180, 2%, 42%, 1);
    --grey-dark:hsla(0, 0%, 20%, 1);
    --dark:hsla(0, 0%, 0%, 1);
    --white:hsl(40, 60%, 99%);
    --shadow: hsla(0, 0%, 0%, 0.25);
    --shadow-img:drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));;
    /* weight */
    --regular:400;
    --semi-bold:600;
    --bold:700;
    /* font size */
    --bigest-font:  2,0625rem;
    --title-font: 1 ,05rem;
    --normal-font-size: 0,875rem;
    --subtitle-font:1,125rem;
    --smalest-font: 0,625rem;
}
/* end variable */
/* responsive typography */
@media  screen and (min-width: 1150px){
    :root{
        --bigest-font: 2.75rem;
        --title-font: 1.5875rem;
        --normal-font-size: 1.125rem;
        --subtitle-font: 1.5rem;
        --smalest-font: 0.875rem;
    }
}
/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: box-shadow 0.4s;
    background-color: #fff;
}
.nav{
    height: var(--header-height);
    position: relative ;
}

.logo{
    text-align: center;
    font-size: var(--title-font);
    color: var(---main-yellow);
    font-weight: var(--bold);
    flex: 0 1 auto;
}
.search__bar{
    justify-content: unset;
    flex: 1;
    margin: 0 1rem;
    max-width: 300px;
}
.serch,.search-icon{
    font-size: .7em;
}
.serch{
    flex: 1;
    border: 1px solid var(--blue-light);
    /* border-right: none; */
    text-indent: .7em;
    font-weight: var(--regular);
    border-radius: 10px ;
    background-color: transparent;
    padding: .3em 0;
}
.search-icon{
    /* padding-right: .7em;
    height: 24px;
    border-left: none;
    border-radius: 0 10px 10px 0; */
    margin-left: -2em;
}
.serch:focus{
    border: 1px solid var(--blue-light);
    outline: none;
    /* border-right: none; */
}
.nav__menu{
    flex-direction: column-reverse;
}
.nav__list a{
    color: var(--blue-dark);
    font-size: var(--smalest-font);
}
/* Add shadow header */

.shadow-header{
    box-shadow: 0 4px 16px var(--yellow-light);
}
.nav__menu,.nav__icon{
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}
.nav__icon,.nav__list{
    justify-content: center;
}
.nav__icon >*{
    margin-left: 1em;
}
/* .nav__icon a ion-icon{
   margin:0;
} */
.nav__icon ion-icon{
   font-size: var(--bigest-font);
   color: var(--blue-dark);
}
.profile__image img{
    margin: 0;
    width: 35px;
}
.nav__list{
    flex-direction: column;
    z-index: 10;
}
.nav__menu{
    box-shadow: 0px 150px 160px 150px rgba(194, 183, 183, 0.158);
}
.nav__list li a{
    margin-left: 1em;
}
.nav__icon{
    padding-top: 1em;
}
@media screen and (min-width:1150px){
    .nav__icon ion-icon{
        font-size: var(--subtitle-font);
    }
    .nav__list{
        flex-direction: row;
    }
    .nav__menu{
        box-shadow: unset;
        padding: 0;
    }
    .logo{
        order: 1;
    }
    .search__bar{
        order: 3;
    }
    .nav__menu{
        order: 2;
        margin: 0 2em;
    }
    .nav__icon {
        order: 4;
        padding: 0;
    }
    
    .search-icon{
        height: 26px;
    }
}
@media screen and (max-width:330px){
    .search__bar{
        display: none;
    }
}