/* ************
    global variable
************ */

:root{
    --header-height: 3.5rem;
    /* colors */
    ---main-yellow:hsla(33, 88%, 56%, 1);
    --yellow-light:hsla(33, 91%, 96%, 1);
    --yellow-hover:hsla(33, 91%, 73%, 1);
    --blue-dark:hsla(189, 24%, 17%, 1);
    --blue-dark-lighter:hsla(187, 24%, 29%, 1);
    --blue-normal:hsl(187, 24%, 49%);
    --blue-light:hsl(186, 23%, 84%);
    --text-color:hsla(187, 100%, 8%, 1);
    --green:hsla(101, 54%, 55%, 1);
    --grey:hsla(180, 2%, 42%, 1);
    --grey-dark:hsla(0, 0%, 20%, 1);
    --dark:hsla(0, 0%, 0%, 1);
    --white:hsl(40, 60%, 99%);
    --shadow: hsla(0, 0%, 0%, 0.25);
    --shadow-img:drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));;
    /* weight */
    --regular:400;
    --semi-bold:600;
    --bold:700;
    /* font size */
    --bigest-font: 1.45rem;
    --title-font: 1 ,05rem;
    --normal-font-size: 0,875rem;
    --subtitle-font:1,125rem;
    --smalest-font: .725rem;
}
/* end variable */
/* responsive typography */
@media  screen and (min-width: 1150px){
    :root{
        --bigest-font: 2.25rem;
        --title-font: 1.5875rem;
        --normal-font-size: 1.125rem;
        --subtitle-font: 1.5rem;
        --smalest-font: 0.975rem;
    }
}
@media  screen and (max-width: 330px){
    :root{
        --bigest-font: 1.25rem;
        --title-font: 1.0875rem;
        --normal-font-size: 0.85rem;
        --subtitle-font: 1rem;
        --smalest-font: 0.575rem;
    }
}
.section__title {
    text-align: center;
    font-size: var(--bigest-font);
    margin-bottom: .2em;
    font-weight: var(--bold);
}
/* hero section */
.home__container{
    flex-direction: column;
    position: relative;
}
.hero__text{
    position: relative;
}
.home__title{
    font-size: var(--bigest-font);
    line-height: 1.6em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: var(--bold);
    color: var(--blue-dark) ;
}
.heroTitle{
    position: relative;
}

.vector img{
    max-width: unset;
    width: 6em;
}
.vector{
    position: absolute;
    width: 14%;
    top: -3px;
    left: -16px;
}
.des{
    margin-bottom: 2.5rem;
    font-size: var(--smalest-font);
    line-height: 1.75rem;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: var(--blue-dark-hover);
}
.hero__text{
    width: 70%;
    max-width: 380px;
    margin: 0 auto;
}
/* button */
.hero__button{
    width: 60%;
    max-width: 270px;
    margin: 0 auto;
    color: #FEFDFB;
    font-weight: var(--bold);
    font-size: var(--smalest-font);
    line-height: 36px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.hero__button::after {
    content: '';
    background-color: var(--blue-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 0;
    height: 0;
    transition: width 500ms ease-out, height 500ms ease-out;
    z-index: -1;
}

.hero__button:hover::after {
    width: 600px; 
    height: 600px; 
    color: var(--blue-dark);
}
.hero__button span {
    position: relative;
    z-index: 2; 
    transition: color 500ms ease-out; 
    font-size: var(--normal-font-size);
}

.hero__button:hover span {
    color: var(--blue-dark); 
}
@media screen and (min-width:768px){
    .hero__text{
        width: 90%;
    }
    /* button */
    .hero__button{
        width: 70%;
    }
    .home__container img{
        width: 65%;
    }
    .vector img{
        max-width: unset;
        width: 5.5em;
    }
    .vector{
        position: absolute;
        top: -4px;
        left: -10px;
    }
}
@media screen and (min-width:1150px){
    .hero__button{
        width: 70%;
    }
    .hero__des{
        width: 40%;
    }
    .home__container{
        flex-direction: row-reverse;
        gap: 2em;
    }
    .vector img{
        max-width: unset;
        width: 7.5em;
    }
    .vector{
        position: absolute;
        top: -4px;
        left: -18px;
    }
    .home__container >img{
        width: 55%;
    }
}
/* quick selection section */

.selection__data{
    text-align: center;
}
.sel{
    position: relative;
}
.sel::before{
    content: '';
    position: absolute;
    width: 8em;
    height: 1px;
    background-color: var(--blue-light);
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: -.2em ;
}
.selection__description{
    font-weight: var(--bold);
    font-size: var(--subtitle-font);
    line-height: 36px;
    color: var(--grey);
    margin-bottom: 3em;
}

.selection__card{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 5em;
}
@media screen and (min-width: 768px) {
    .selection__card{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.girl__collection, .boy__collection{
    position: relative;
    border-radius: 25px;
    display: flex;
    width: 270px;
}
.girl__collection{
    background-color: hsla(33, 88%, 86%, 1) ;
}
.boy__collection{
    background-color: hsla(186, 23%, 84%, 1);
}
.selec__data{
    padding: 1.5em;
    width: 60%;
    gap: 0.1em;
    overflow: visible;
}
.collection__title{
    font-weight: var(--bold);
    font-size: var(--bigest-font);
    line-height: 3rem;
    color: var(--text-color);
}
    
.collection_par{
    font-weight: var(--regular);
    color: var(--text-color);
    font-size: var(--smalest-font);
    margin-bottom: .8em;
}
.girl{
    color: var(--blue-normal);
}
.boy{
    color: var(--yellow-normall);
}

.selection__button{
    background-color: hsla(33, 91%, 96%, 1);
    padding: .5em 1em;
    text-align: center;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    transition: background-color 0.7s ease-in-out;
}
.selection__button:hover{
    background-color: var(--yellow-hover);
}
.selection__button > span {
    font-size: var(--smalest-font);
    color: var(--grey-dark);
    font-weight: var(--bold);
}
.selectionG__img{
    width: 60%;
    position: absolute;
    right: -15px;
    top: -30px;
}
.selectionB__img{
    width: 50%;
    position: absolute;
    right: 0;
    top: -15px;

}
@media screen and (max-width:330px){
    .girl__collection, .boy__collection{
        width: 180px;
    }
    .selectionImg{
        display: none;
    }
    .selec__data{
        width: 100%;
        padding: 1.5em;
    }
    .selection__button{
        padding: .2em .8em;
    }
    .collection__title{
        line-height: unset;
    }
}
@media screen and (min-width:1150px){
    .girl__collection, .boy__collection{
        width: 350px;
    }
    .selectionG__img{
        width: 50%;
        position: absolute;
        right: -15px;
        top: -30px;
    }
    .selectionB__img{
        width: 40%;
        position: absolute;
        right: 0;
        top: -15px;
    
    }
}

/*  new arival section  */

.new-arival{
    margin-bottom: 5em;
}
.prod_desc{
    margin-bottom: 1.5em;
}
.slider_container{
    width: 100%;
    overflow: hidden;
}
.card__wraper{
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 .5em;
}

.card__wraper::-webkit-scrollbar{
    display: none;
}
.product__card{
    min-width: 200px;
    flex-direction: column
}
.show__product{
    position: relative;
    flex-direction: column;
}
.icons_cont{
    position: absolute;
    flex-direction: column;
    bottom: 0;
    right: 0;
    gap: 10px;
    padding: .5em;
}
.icons_cont>*{
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 50%;
    text-align: center;
    font-size: var(--subtitle-font);
    padding: .4em;
}
.product_img{
    border-radius: 1rem;
}
.takieem{
    padding: .5em 0 .1em .2em;
    text-transform: uppercase; 
}
.takieem>a{
    opacity: 50%;
    letter-spacing: 3px;
    font-size: var(--smalest-font);
    font-weight: var(--regular);
}
.product__name{
    font-size: var(--subtitle-font);
    font-weight: var(--bold);
    color: var(--blue-dark);
    padding: .5em 0 0 .2em;
}
.price{
    color: var(--green);
    font-weight: var(--bold);
    font-size: var(--subtitle-font);
}
.price>del{
    color: var(--grey);
    opacity: 30%;
    padding-left: .5em;
}
.prod_desc>*{
    font-weight: var(--bold);
    font-size: var(--subtitle-font);
    color: var(--blue-dark);
}
.slider-button{
    display: none;
}
@media screen and (min-width:1150px){
    .product__card{
        min-width: 300px;
    }
}
@media screen and (min-width:768px){
    .product__card{
        min-width: 300px;
    }
    .slider-button{
        display: block;
        font-size: 3rem;
    }
    .card__wraper{
        width: 85%;
    }
}
@media screen and (max-width:330px){
    .product__card{
        min-width: 100px;
    }
    .icons_cont>*{
        font-size: var(--smalest-font);
    }
    .product__card >*{
        font-size: x-small;
    }
    .takieem>a{
        font-size: x-small;
    }
    .card__wraper{
        mask-image: unset;
    }
}

/* promotion section */
.promotion{
    background-image: url(../img/sectionbackground.svg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 300px;
    position: relative;
}
.deal__dtai{
    max-width: 40%;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translatey(-50%);
}
.codebutton{
    display: inline-flex;
    font-size: var(--smalest-font);
    font-weight: var(--bold);
    text-align: center;
    color: hsla(40, 60%, 99%, 1);
    border: 1px solid hsla(40, 60%, 99%, 1);
}
.deal__desc{
    color: var(--text-color);
    font-weight: var(--bold);
    font-size: var(--subtitle-font);
    padding-bottom: .6em;
}
@media screen and (min-width:1150px){
    .promotion{
        height: 400px;
    }
    .deal__dtai{
        right: 10em;
    }
}

/* news section */

.cons__description{
    width: 45%;
    padding: 1em;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    max-width: 350px;
}
.cons__title{
    font-size: 2.3rem;
    font-weight: var(--bold);
    color: var(--text-color);
    margin-bottom: .2em;
    text-align: start;
}
.cons__para{
    font-weight: var(--regular);
    font-size: 1.6rem;
    color: var(--blue-dark);
    margin-bottom: 1em;
}
.cons__buuton{
    display: inline-flex;
    text-align: center;
    color: hsla(40, 60%, 99%, 1);
    font-size: 1rem;
    font-weight: var(--bold);
    border-radius: .6rem;
}
.newsContainer{
    background-image: linear-gradient(rgba(255, 251, 251, 0.288), rgba(255, 255, 255, 0.514)), 
        url(../img/sectcion2Img.svg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 400px;
    justify-content: center;
}
@media screen and (max-width:768px) {
    .cons__title{
        font-size: 1.2rem;
    }
    .cons__para{
        font-size: .9rem;
    }
    .cons__buuton{
        font-size: .7rem;
    }
    .newsContainer{
        height: 250px;
    }
}
@media screen and (max-width:330px){
    .cons__title{
        font-size: 1rem;
    }
    .cons__para{
        font-size: .7rem;
    }
    .cons__buuton{
        font-size: .6rem;
    }
    .newsContainer{
        height: 250px;
    }
    .cons__description{
        width: auto;
    }
}
/* client section */


/* contact section */


/* footer */