.show__product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: .5em;
}
.sec1{
    align-items: flex-start;
}
.img1 {
    grid-column: 1 / -1; 
    width: 100%; 
}
.img2,.img3{
    max-height: 120px;
    object-fit: cover;
}
.img2 {
    grid-column: 1;
    width: 100%;
}

.img3 {
    grid-column: 2; 
    width: 100%; 
}
.img2,.img3,.img1{
    border-radius: 12px;
}
.show_image{
    width: 45%;
    height: 100%;
}
.product__info{
    width: 50%;
}
.product__vieux{
    align-items: flex-start;
}